<footer class="text-center">
  <div class="footer-below">
     <p class="text-center">Copyright ©2016 Rails101
         <br>Design by NicLin
     </p>
  </div>
</footer>

<!--
  <div class="footer">
  <p class="text-center">Copyright ©2016 Job-Lising
     <br>Design by NiatHaijun
  </p>
</div> -->
